.form-inputIcon{
  position: relative;
  display: flex;
}
.form-inputIcon .form-input{
  padding-inline-end: 2rem;
  inline-size: 100%;
}
.form-icon{
  display: block;
  background-size: 0.875rem;
  block-size: 0.875rem;
  inline-size: 0.875rem;
  position: absolute;
  top: 0.75rem;
  right: 12px;
}
.icon-creditCard{
  background-image: url('../assets/icons/credit-card.png');
}
.icon-info{
  background-image: url('../assets/icons/info.png');
}